<div class="private-list px-3" [ngClass]="theme == 'dark'?' text-dark-secondary':'  text-light-secondary'">
  <div class="flex flex-row items-center justify-between text-xs mt-6">
    <span class="font-bold">Private</span>
    <div class="flex items-center space-x-2">
      <span [ngClass]="theme == 'dark'?' bg-dark-accent text-gray-50':' bg-gray-50 text-light-secondary'"
        class="flex items-center justify-center  h-5 w-5 rounded-full">{{contacts.length}}</span>
      <svg (click)="toggleSearchInput()" class="w-6 h-6  hover:text-green-400 hover:cursor-pointer" fill="none"
        stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10">
        </path>
      </svg>
    </div>
  </div>
  <div class=" mt-4 -mx-2">
    <div class="flex items-center justify-around" *ngIf="showSearchInput">
      <input type="search"
        class="p-2 m-4 w-4/5 h-full rounded-xl border-2  border-gray-100 ring-green-300 focus:outline-green-500"
        [ngClass]="theme == 'dark'?' bg-dark-accent placeholder:text-gray-50 text-gray-50':' bg-gray-50 placeholder:text-light-secondary text-light-secondary'"
        placeholder="search your contacts.." [autofocus]="true">
      <div class="new-chat relative">
        <svg class=" w-5 h-5 hover:cursor-pointer hover:text-green-400" (click)="toggleModel()" fill="none"
          stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z">
          </path>
        </svg>
      </div>
    </div>
    <div class="flex flex-col space-y-1 h-52 overflow-scroll">
      <ng-container *ngIf="contacts.length >0; else nocontacteduser">
        <div class="flex flex-row items-center  hover:bg-gray-400 hover:cursor-pointer rounded-xl p-2"
          [ngClass]="theme == 'dark'?'bg-dark-primary text-dark-secondary':'bg-gray-50 text-light-secondary'"
          *ngFor="let contact of contacts" (click)="selecteContact(contact)">
          <div [ngClass]="theme == 'dark'?'bg-dark-accent text-dark-secondary':'bg-white text-light-secondary'"
            class="flex items-center justify-center h-8 w-8 border-1 border-gray-900  rounded-full">
            {{contact.id}}
          </div>
          <div class="ml-2  font-semibold">{{contact.username}}</div>
        </div>
        </ng-container>
        <ng-template #nocontacteduser>
          No contacted users yet
        </ng-template>
    </div>
  </div>
</div>
<!-- new chat modal  -->
<app-modal *ngIf="showModal">
  <div modal-header>
    <div class="flex flex-row-reverse justify-between ">
      <button type="button" (click)="toggleModel()"
        class=" text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-3xl text-sm p-1.5  inline-flex items-center"
        data-modal-hide="popup-modal">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg" (click)="true">
          <path fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd"></path>
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
      <h3 class="text-xl font-semibold text-gray-900 ">
        chat with..
      </h3>
    </div>
  </div>
  <div modal-body>
    <form [formGroup]="" (ngSubmit)="true">
      <div
        class="p-5 mt-4 border-2 border-gray-200 border-dashed border-b-0 w-full h-full grid grid-cols-1 grid-rows-1 gap-2 rounded-t-3xl">
        <div class="flex flex-wrap items-center space-x-2 w-full">
          <label for="users" class="text-sm font-semibold text-gray-900 mb-2">To </label>
          <div
          *ngFor="let user of selectedUsers; let i = index"
            class="relative items-center px-5 py-2 text-sm font-semibold text-center text-gray-950 bg-green-100 border border-gray-100 rounded-xl">
            {{user.username}}
            <div
            (click)="removeSelectedUser(i)"
              class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -right-2 :border-gray-900">
              X
            </div>
          </div>
          <div class="search-users relative flex-grow">
            <input (input)="showDropdown = true" type="search" name="users" id="users"
              class="w-full px-4 py-2 rounded-xl !border-2 !border-gray-100" autofocus>
            <!-- Dropdown menu -->
            <div *ngIf="showDropdown" id="dropdownSearch" class="absolute  z-10  bg-white rounded-xl shadow w-60 ">
              <div class="results p-2">
                <h6 class="font-semibold">Results</h6>
              <ul class="h-44 px-3 pb-3 overflow-y-auto text-sm text-gray-700 ">
                <ng-container *ngIf="users.length > 0;else nousersfound">
                  <li *ngFor="let user of users">
                    <div class="flex items-center pl-2 rounded hover:bg-gray-100 ">
                      <input [name]="user.id" [id]="user.id" [value]="user.id" type="checkbox" [checked]="user.isSelected"
                        (change)="handleUserSelect($event)"
                        class="sr-only w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500  focus:ring-2">
                      <label [for]="user.id" class="w-full py-2 ml-2 text-sm font-medium text-gray-900 rounded ">{{user.username}}</label>
                      </div>
                  </li>
                </ng-container>
                <ng-template #nousersfound>
                  No users found
                </ng-template>
                </ul>
                </div>
                </div>
          </div>
        </div>
        <div class="flex w-full space-x-2">
          <label class="text-sm font-semibold text-gray-900 mb-2"> Message</label>
          <textarea name="message" id="message" class="p-2 rounded-xl w-full !border-2 !border-gray-100" cols="30"
            rows="3"></textarea>
        </div>
      </div>
      <div class="flex flex-col p-2 border-2 border-gray-200 border-dashed border-t-0 w-full h-full rounded-b-3xl">
        <div class="flex flex-row-reverse justify-start">
          <button type="submit"
            class="flex items-center bg-black shrink-0 rounded-3xl mx-1 px-6 py-1 text-sm font-semibold text-white hover:text-gray-50 focus:outline-none active:text-white disabled:cursor-not-allowed disabled:bg-gray-200 disabled:text-gray-400"
            [disabled]="true">
            <span>Send</span>
            <span class="ml-2">
              <svg class="w-5 h-5 " fill="none" stroke="currentColor" stroke-width="2.5" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5">
                </path>
              </svg>
            </span>
          </button>
          <button (click)="toggleModel()"
            class="inline-block  shrink-0 rounded-3xl border border-gray-300 mx-1 px-6 py-2 text-sm font-semibold hover:bg-gray-400 hover:text-white focus:outline-none active:text-white disabled:cursor-not-allowed">
            cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</app-modal>