/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
    font-family:  'Almarai' ;
}
* {
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: gray white;
}
::-moz-selection {
  color: #fff;
  background-color: #128644;
}

::selection {
  color: #fff;
  background-color: #128644;
}

::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
  border: 2px solid white;
}